@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.fullLenghtButton {
  width: 100%;
}

.appLogo {
  font-family: Merienda,cursive;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}
