@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.fullLenghtButton {
  width: 100%;
}

.appLogo {
  font-family: Merienda,cursive;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.ant-select-selection--multiple {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.anticon {
  vertical-align: 0.10em !important;
}

.filter-item {
  margin-left: 5px;
  margin-right: 5px;
}

.ant-btn-sm {
  height: unset !important;
}

.spinner {
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 35vh 50px;
  margin: 20px 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-pull-right {
  display: flex;
  justify-content: flex-end;
}

.flex-pull-left {
  display: flex;
  justify-content: flex-start;
}


.ant-radio-button-wrapper:first-child, .ant-radio-group-small .ant-radio-button-wrapper, .ant-radio-button-wrapper {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
